 <div class="form-paper">

  <div class="flash-messages">
    <% flash.each do |key, value| %>
      <div class="alert alert-success d-block flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= form_with(model: Letter.new, url: letters_path, method: :post, local: true, html: { class: "needs-validation" }) do |form| %>
    
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <%= form.text_field :sender, class: "form-control form-control-sm", placeholder: "De:", required: true %>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <%= form.text_field :reciever, class: "form-control form-control-sm", placeholder: "Para: ", required: true %>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <%= form.text_area :message, class: "form-control form-control-sm", rows: 5, placeholder: "Mande aqui a sua melhor mensagem :)", required: true %>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= form.submit "Enviar", class: "btn btn-wood" %>
      </div>
    </div>
  <% end %>
</div>
