<div class="container">
  <div class="row mx-2">
    <div class="col-md-3">
      <div class="mt-4">
        <%= link_to "New letter", new_letter_path, method: :get, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
  <div class="row mx-2">
    <div class="col-md-12">
      <div class="mt-4 row d-flex flex-column align-items-center">
        <% @letters.each_with_index do |letter, index| %>
          <div class="<%= index == 0 ? "col-12" : "col-8" %>">
            <div class="card w-100 d-flex flex-column rounded-4 p-4 mb-4">
              <h6 class="mb-0">De:</h6>
              <span class="mb-3"><%= letter.sender %></span>
              <h6 class="mb-0">Para:</h6>
              <span class="mb-3"><%= letter.reciever %></span>
              <h6 class="mb-0">Mensagem:</h6>
              <span><%= letter.message %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>